@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
/* navbar的字型 */



.navbar-nav{
    letter-spacing: 3px;
    /* font-weight: bold; */
    font-family: 'Noto Sans TC', sans-serif;
}

.container.artical{
    flex-direction: column;
}
.colHashTag{
    border: solid 1px brown;
    border-radius: 25px;
    display: inline;
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    position: fixed;
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }
/*   
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  } */

  .row {  
    display: flex;
    flex-wrap: wrap;
  }
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 10%;
    background-color: #f1f1f1;
    padding: 10px;
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  /* Main column */
  .main {   
    flex: 90%;
    background-color: white;
    padding: 30px;
  }

.containmain{
    margin-left: 290px;
}

  .fakeimg img{
    /* background-color: #aaa; */
    width: 70%;
    padding: 20px;
    display: inline;
    border-radius: 6px;
  }

  /* =================test=================== */

.sharebutton{
    padding-left: 50px;
    position: fixed;
}

p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}
h6{
    font-family: 'Noto Sans TC', sans-serif;
}
